{% extends "base.html" %}
{% load static %}

{% block title %}404 Page Not Found{% endblock %}

{% block content %}
    <div>
        <h1 style="text-align: center; color: midnightblue; font-family: cursive">Oops!</h1>
        <h2 style="text-align: center">404 - Page Not Found</h2> <br/> <br/> <br/>
        <h4 style="text-align: center;">Want to go back to Captain Console <br/> and buy some awesome stuff?</h4>
        <div style="text-align: center; text-decoration: underline; font-size: 25px;">
            <a href="/store/" class="white-text btn blue darken-3">CLICK ME!</a>
        </div>
    <div/>
{% endblock content %}