{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'store_app/checkout.css' %}" />
{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <div class="container">
        <div class="billing-info">
            <h3><strong>Billing Information</strong></h3>
            <div class="row">
                {{form.billingFirstName}} {{form.billingLastName}}
            </div>
            <div class="row">
                {{form.billingStreet}} {{form.billingStreetNum}}
            </div>
            <div class="row">
                {{form.billingCompany}}
            </div>
            <div class="row">
                {{form.billingCountry}}
            </div>
            <div class="row">
                {{form.billingCity}} {{form.billingPostal}}
            </div>
            <div class="row">
                {{form.email}} {{form.billingPhone}}
            </div>
        </div>
        <div class="delivery-info">
            <h3><strong>Delivery Information</strong></h3>
            <div class="row">
                {{form.deliveryFirstName}} {{form.deliveryLastName}}
            </div>
            <div class="row" id="delstreet">
                {{form.deliveryStreetNum}} {{form.deliveryStreet}}
            </div>
            <div class="row" id="delcom">
                {{form.deliveryCompany}} {{form.deliveryPhone}}
            </div>

            <div class="row">
                {{form.deliveryCountry}}
            </div>
            <div class="row">
                {{form.deliveryCity}} {{form.deliveryPostal}}
            </div>
            <div class="row">
                {{form.deliveryPhone}}
            </div>
        </div>
        <div class="card-info">
            <h3><strong>Card Information</strong></h3>
            <div class="row">
                <input
                    type="number"
                    name="cardNumber"
                    placeholder="Card Number"
                    class="validate"
                />
                <input
                    type="text"
                    name="cardName"
                    placeholder="Card Holder Name"
                    class="validate"
                />
            </div>
            <div class="row">
                <input type="number" name="cvc" placeholder="CVC" class="validate" />
                <select name="month">
                    <option value="">Expiry month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="11">12</option>
                </select>
                <select name="year">
                    <option value="">Expiry year</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                    <option value="25">2025</option>
                    <option value="26">2026</option>
                    <option value="27">2027</option>
                    <option value="28">2028</option>
                    <option value="29">2029</option>
                    <option value="30">2030</option>
                </select>
            </div>
        </div>
        <input type="submit" id="submit-btn" class="btn-large" value="Proceed" />
    </div>
</form>
{% endblock %}
