{% extends "base.html" %}
{% load static %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static "store_app/checkout.css" %}">
    {% endblock %}


    {% block content %}
<!--        <div class="row">-->
<!--            <form method="post" action="" class="col s8">-->
<!--              <div class="row">-->
<!--                  {% for field in form %}-->
<!--                  {{field.as_p}}-->
<!--                  {% endfor %}-->
<!--              </div>-->
<!--            </form>-->
<!--        </div>-->







































































<!--    <div class="container-items">-->
<!--        <h1>Check Out</h1>-->
<!--        <form method="POST">-->
<!--            <div class="grid-item1 half-width">-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s5">-->
<!--                        {{form.billingFirstName}}-->
<!--                        <label class="custom-control-label">First name</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s5">-->
<!--                        {{form.billingLastName}}-->
<!--                        <label class="custom-control-label">Last Name</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s4">-->
<!--                        {{form.email}}-->
<!--                        <label class="custom-control-label">Email Address</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s4">-->
<!--                        {{form.billingCountry}}-->
<!--                        <label class="custom-control-label">Country</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s4">-->
<!--                        {{form.billingStreet}}-->
<!--                        <label class="custom-control-label">Street Name</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s2 m2 l2">-->
<!--                        {{form.billingStreetNum}}-->
<!--                        <label class="custom-control-label">Street Number</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s5">-->
<!--                        {{form.billingCity}}-->
<!--                        <label class="custom-control-label">City</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s2 l2 m2">-->
<!--                        {{form.billingPostal}}-->
<!--                        <label class="custom-control-label">Postal</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s5">-->
<!--                        {{form.billingPhone}}-->
<!--                        <label class="custom-control-label">Email Address</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s5">-->
<!--                        {{form.billingCompany}}-->
<!--                        <label class="custom-control-label">Email Address</label>-->
<!--                    </div>-->
<!--            </div>-->
<!--            <div class="grid-item2">-->
<!--&lt;!&ndash;                        Card Information&ndash;&gt;-->
<!--                <h3><strong>Card Information</strong></h3>-->
<!--                <div class="row">-->
<!--                    <div class="input-field col s5">-->
<!--                        <input type="number" name="cardNumber" id="cardNumber" placeholder="9999999999999999">-->
<!--                        <label>Card number</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s5">-->
<!--                        <input type="text"  name="cardName" id="cardName" placeholder="Bobby Johnson">-->
<!--                        <label>Card Holder name</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s5">-->
<!--                        <input type="text" name="expiryDate" id="expiryDate" placeholder="02-20">-->
<!--                        <label>Expiry Date</label>-->
<!--                    </div>-->
<!--                    <div class="input-field col s5">-->
<!--                        <input type="number" name="cvc" id="cvc" placeholder="999">-->
<!--                        <label>CVC</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="grid-item3">-->
<!--                <div class="input-field col s4 m4 l4 valign-wrapper">-->
<!--                    {{form.deliveryFirstName}}-->
<!--                    <label class="custom-control-label">First name</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryLastName}}-->
<!--                    <label class="custom-control-label">Last Name</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryMethod}}-->
<!--                    <label class="custom-control-label">Delivery Method</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryStreet}}-->
<!--                    <label class="custom-control-label">Street Name</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryStreetNum}}-->
<!--                    <label class="custom-control-label">Street Number</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryPhone}}-->
<!--                    <label class="custom-control-label">Phone</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.deliveryCompany}}-->
<!--                    <label class="custom-control-label">Email Address</label>-->
<!--                </div>-->
<!--                <div class="input-field col s5">-->
<!--                    {{form.email}}-->
<!--                    <label class="custom-control-label">Email Address</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--            <button type="submit" class="btn btn-primary">Proceed</button>-->
<!--        </form>-->
<!--        <div class="container-items">-->
<!--            <div class="row col s6">-->
<!--                <form method="POST" action="">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="grid-item1">-->
<!--    &lt;!&ndash;                    Billing Information&ndash;&gt;-->
<!--                        <h3><strong>Billing</strong></h3>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingFirstName}}-->
<!--                                <label>First Name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingLastName}}-->
<!--                                <label>Last Name</label>-->
<!--                            </div>-->

<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.email}}-->
<!--                                <label>Email</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingCountry}}-->
<!--                                <label>Country</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingStreet}}-->
<!--                                <label>Street Name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingStreetNum}}-->
<!--                                <label>Street Number</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingCity}}-->
<!--                                <label>City</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingPostal}}-->
<!--                                <label>Zip Code</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingCompany}}-->
<!--                                <label>Company</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.billingPhone}}-->
<!--                                <label>Phone Number</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid-item2">-->
<!--&lt;!&ndash;                        Card Information&ndash;&gt;-->
<!--                        <h3><strong>Card Information</strong></h3>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="number" name="cardNumber" id="cardno">-->
<!--                                <label>Card number</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="text" name="cardName" id="cardname">-->
<!--                                <label>Card Holder name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="text" name="expiryDate" id="expiryDate">-->
<!--                                <label>Expiry Date</label>-->
<!--                            </div>-->
<!--                            <div class="sel col s5">-->
<!--                                <input type="number" name="cvc" id="cvc">-->
<!--                                <label>CVC</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid-item3">-->
<!--    &lt;!&ndash;                    Delivery Information&ndash;&gt;-->
<!--                        <h3><strong>Delivery</strong></h3>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryFirstName}}-->
<!--                                <label>First Name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryLastName}}-->
<!--                                <label>Last Name</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryStreet}}-->
<!--                                <label>Street Name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryStreetNum}}-->
<!--                                <label>Street Number</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryCity}}-->
<!--                                <label>City</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryPostal}}-->
<!--                                <label>Zip Code</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryCompany}}-->
<!--                                <label>Company</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryPhone}}-->
<!--                                <label>Phone Number</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryCountry}}-->
<!--                                <label>Country</label>-->
<!--                            <div class="input-field col s5">-->
<!--                                {{form.deliveryMethod}}-->
<!--                                <label>Method</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button type="submit" onclick="insertJSON()" class="btn btn-primary">Proceed</button>-->
<!--                </form>-->
<!--                <button class="btn btn-primary">Go Back</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <form method="post" action="">-->
<!--            {% csrf_token %}-->
<!--            <div class="container">-->
<!--                <div class="column">-->
<!--                    {% for fields in form %}-->
<!--                    <div class="input-field col s5">-->
<!--                        {{fields}}-->
<!--                        <label>{{fields.label}}</label>-->

<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                    {% for error in field.error %}-->
<!--                    <p class="error">{{error}}</p>-->
<!--                    {% endfor %}-->
<!--                    {{form.billingFirstName}}-->
<!--                    <label>First Name</label>-->
<!--                </div>-->
<!--                    <div class="grid-item2">-->
<!--&lt;!&ndash;                        Card Information&ndash;&gt;-->
<!--                        <h3><strong>Card Information</strong></h3>-->
<!--                        <div class="row">-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="number" name="cardNumber" id="cardno">-->
<!--                                <label>Card number</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="text" name="cardName" id="cardname">-->
<!--                                <label>Card Holder name</label>-->
<!--                            </div>-->
<!--                            <div class="input-field col s5">-->
<!--                                <input type="text" name="expiryDate" id="expiryDate">-->
<!--                                <label>Expiry Date</label>-->
<!--                            </div>-->
<!--                            <div class="sel col s5">-->
<!--                                <input type="number" name="cvc" id="cvc">-->
<!--                                <label>CVC</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--            </div>-->
<!--            <button type="submit">Proceed</button>-->
<!--        </form>-->
<!--    </div>-->

<form method="post" action="">
    {% csrf_token %}
    <div class="everything">
        <div class="container">
            <div class="billing-info">
                <h3><strong>Billing Information</strong></h3>
                <div class="billing-info">
                    {{form.billingFirstName}}
                    {{form.billingLastName}}
                </div>
                <div class="row">
                    {{form.billingStreet}}
                    {{form.billingStreetNum}}
                </div>
                <div class="row">
                    {{form.billingCompany}}
                    {{form.billingFirstName}}
                </div>

                <div class="row">
                    {{form.billingCountry}}
                </div>
                <div class="row">
                    {{form.billingCity}}
                    {{form.billingPostal}}
                </div>
                <div class="row">
                    {{form.email}}
                    {{form.billingPhone}}
                </div>
            </div>
            <div class="delivery-info">
                <h3><strong>Delivery Information</strong></h3>
                <div class="row">
                    {{form.deliveryFirstName}}
                    {{form.deliveryLastName}}
                </div>
                <div class="row" id="delstreet">
                    {{form.deliveryStreetNum}}
                    {{form.deliveryStreet}}
                </div>
                <div class="row" id="delcom">
                    {{form.deliveryCompany}}
                    {{form.deliveryPhone}}
                </div>

                <div class="row">
<!--                    {{form.deliveryMethod}}-->
                    {{form.deliveryCountry}}
                </div>
                <div class="row">
                    {{form.deliveryCity}}
                    {{form.deliveryPostal}}
                </div>
                <div class="row">
                    {{form.deliveryPhone}}
                </div>
            </div>
            <div class="card-info">
                <h3><strong>Card Information</strong></h3>
                <div class="row">
                    <input type="number" name="cardNumber" placeholder="Card Number" class="validate">
                    <input type="text" name="cardName" placeholder="Card Holder Name" class="validate">
                </div>
                <div class="row">
                    <input type="number" name="cvc" placeholder="CVC" class="validate">
                    <select name="month">
                            <option value="">MONTH</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="11">12</option>
                    </select>
                    <select name="year">
                        <option value="">YEAR</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                        <option value="24">2024</option>
                        <option value="25">2025</option>
                        <option value="26">2026</option>
                        <option value="27">2027</option>
                        <option value="28">2028</option>
                        <option value="29">2029</option>
                        <option value="30">2030</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Proceed">
</form>
    {% endblock %}