{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'store_app/frontpage.css' %}" />
{% endblock %} {% block content %} {% include 'header.html' %}

<div id="pageheader">
    <img id="banner_img" src="{% static 'media/product_img/Hachiko.jpg' %}" alt="Banner image">
    <div class="center_text"><h1>Everything retro in one place!</h1></div>
</div>

<div class="pagecontent row">
    <div class="col s4 offset-s1">
        <h2>Top Sellers</h2>
        <div id="top_sellers" class="row">
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
        </div>
    </div>
    <div class="col s4 offset-s2">
        <h2>Today's Deals</h2>
        <div id="todays_deals" class="row">
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} {% endblock %}
