{% extends "base.html" %}
{% load static %}

{% block title %}
Captain Console - Store
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'store_app/frontpage.css' %}" />
{% endblock %}

{% block content %}
{% include 'header.html' %}

<div id="pageheader">
    <img id="banner_img" class="responsive-img" src="{% static 'media/product_img/Hachiko.jpg' %}" alt="Banner image">
    <div class="center_text"><h1>Everything retro in one place!</h1></div>
</div>

<div class="pagecontent row">
    <div class="col s5 offset-s1">
        <h2>Top Sellers</h2>
        <div id="top_sellers" class="row">
            {% for item in top_3 %}
            <div class="col s4">
                <div class="product_info card">
                    <div class="thumbnail card-image">
                        <img class="responsive-img" src="/{{ item.get_thumbnail }}" alt="{{ item.name }}">
                    </div>
                    <div class="caption card-content">
                        <a href="/store/products/{{ product.id }}">
                            <h6>{{ item.name }}</h6>
                        </a>
                        <p>${{ item.price}}</p>
                        <p>{{ item.description|truncatechars:55 }}</p>
                        <a href="/store/products/{{ item.id }}" class="btn btn-small" role="button">View</a>
                        <a href="#" class="btn btn-small" role="button"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col s5 offset-s1">
        <h2>Today's Deals</h2>
        <div id="todays_deals" class="row">
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
            <div class="col s4">
                <img src="{% static 'product_img/coron.jpg' %}" />
                <p>Product X</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %} {% endblock %}
