{% extends "base.html" %}
{% load static %}

{% block title %} Captain Console - Store {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'store_app/frontpage.css' %}" />
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}

<div id="page_header">
    <img
        id="banner_img"
        class="responsive-img"
        src="{% static 'media/product_img/gamessinapile.jpg' %}"
        alt="Banner image"
    />
    <div class="center_text"><h1>Everything retro in one place!</h1></div>
</div>

<div id="page_content">
    <div class="content_block">
        <h2>Top Sellers</h2>
        <div id="top_sellers">
            {% for item in top_3 %}
            <div class="card">
                <a href="/store/products/{{ item.id }}" class="waves-effect">
                    <div style="width: 160px;height: 160px;background-image: url('/{{ item.get_thumbnail }}');margin: 0 auto;background-repeat: no-repeat;background-size: cover;background-position: center"></div>
                    <div class="card-content black-text">
                        <h5>{{ item.name|truncatechars:18 }}</h5>
                        <p>${{ item.price }}</p>
                        <p>{{ item.description|truncatechars:55 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="content_block">
        <h2>Today's Deals</h2>
        <div id="todays_deals">
            {% for item in todays_deals %}
            <div class="card">
                <a href="/store/products/{{ item.id }}" class="waves-effect">
                    <div style="width: 160px;height: 160px;background-image: url('/{{ item.get_thumbnail }}');margin: 0 auto;background-repeat: no-repeat;background-size: cover;background-position: center"></div>
                    <div class="card-content black-text">
                        <h5>{{ item.name|truncatechars:18 }}</h5>
                        <p>${{ item.price }}</p>
                        <p>{{ item.description|truncatechars:55 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
