{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'store_app/product-detail.css'%}" />
    <script src="{% static 'store_app/product_detail.js' %}"></script>
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="grid-container">
    <div class="grid-item title">
        <h3>{{ object.name }}</h3>
    </div>
    <div class="grid-item images">
        {% for image in images %}
                <div>
                <div style="width: 200px;height: 240px;background-image: url('/{{ image }}');margin: 0 auto;background-repeat: no-repeat;background-size: cover;background-position: center"></div>
                </div>
            {% endfor %}
    </div>
    <div class="grid-item other">
        <h5>${{ object.price }}</h5><br/>
        <h5>{{ object.description }}</h5><br/>
        <form method="get" action="">
            <input name="qty" type="number" placeholder="Quantity"/>
            <!--<input onclick="M.toast({html: '{{ object.name }} <br/> Added to cart'})" type="" value="add to cart"/>--!>
            <p><a onclick="M.toast({html: '{{ object.name }} <br/> Added to cart'})" class="btn btn-default" role="button">Add to cart</a></p>
        </form>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}