{% extends "base.html" %}
{% load static %}
{% static "" as baseUrl %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href={% static 'store_app/productslist.css' %}>
    {% endblock %}

    {% block content %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <h1 id="header" >HELLO HEADER products list page here</h1>
        <div class="row">
            {% for product in product_list %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">

                            <img class="img-responsive" src="/{{ product.get_thumbnail }}">
                            <div class="caption">
                                <a href="/store/products/{{ product.id }}"><h3>{{ product.name }}</h3><a/>
                                <p>{{ product.description|truncatewords:15}}</p>
                                <p><a href="/store/products/{{ product.id }}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Add to cart</a></p>
                            </div>
                    </div>
                </div>
                {% cycle "" "" "" "</div><br/><hr/><div class='row'>" %}
            {% endfor %}
        </div>

    {% endblock %}