{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'shopping_cart_app/order_detail.css' %}">
{% endblock %}
{% block header %} {% include 'header.html' %}
{% endblock header %}
{% block content %}
<div class="review-container">
    <div class="content">
        <div class="grid-item delivery-details">
            <h5>Delivery Details</h5>
            <h5>{{ post.items.objects }}</h5>
            <!-- Delivery details -->
            <p><strong>First Name:</strong> {{ post.deliveryFirstName }}</p>
            <p>Last Name: {{ post.deliveryLastName }}</p>
            <p>Country: {{ post.deliveryCountry }}</p>
            <p>Address: {{ post.deliveryStreet }} {{ post.deliveryStreetNum }}, {{ post.deliveryCity }}, {{ post.deliveryPostal }}</p>
            <!-- <button type="button" id="edit-info">Edit Delivery</button>-->
        </div>
        <div class="grid-item delivery-method">
            <h5>Delivery Method</h5>
                <p>Standard Delivery Within 5 Working Days Free</p> -->
                <!-- <p>{{ post.deliveryMethod }}</p> -->
        </div>
        <div class="grid-item title">
            <h5>Payment</h5>
        </div>
        <div class="grid-item payment-type">
            <label><h6 id="payment-type">Credit/Debit Card</h6></label>
        </div>
        <div class="grid-item payment-detail">
            <div class="card-number">
                <p><strong>Card Number:</strong> {{ cardno }}</p>
            </div>
            <div class="card-name">
                <p>Cardholder Name: {{ cardname }}</p>
            </div>
            <div class="billing-address">
                <p>Billing Address: {{ post.billingStreet }}, {{ post.billingStreetNum }}, {{ post.billingPostal }}, {{ post.billingCountry }}</p>
            </div>
            <div class="cvc">
                <p>CVC: {{ cvc }}</p>
            </div>
            <div class="expiry-date">
                <p>Expiration Date: {{ expiry_date }}</p>
            </div>
            <!-- Card Information  -->
        </div>

        <div class="grid-item items">
            {% if post.items %}
                <div class="grid-title">
                    <h5>Shopping Cart ({{ post.items|length }} Items)</h5>
                </div>
            {% else %}
                <h5>No Orders</h5>
            {% endif %}
            <div class="cart-items">
                {% for game in shopping_items %}
                <div class="item-{{ forloop.counter0 }} order-items">
                    <div class="thumbnail grid-section" style="background-image: url('/{{ game.item.get_thumbnail }}');"></div>
                    <h6>Price: &dollar;{{ game.item.price }}</h6>
                    <h6>Product Name: {{game.item.name}}</h6>
                    <h6>Quantity: {{game.quantity}}</h6>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="grid-item subtotal">
            <div class="grid-title">
                <h5>Subtotal</h5>
            </div>
            <div class="delivery-charge">
                <h6>Delivery Charge</h6>
            </div>
            <div class="delivery-price">
                <span><strong>&dollar;{{ post.deliveryPrice }}</strong></span>
            </div>
            <div class="tax">
                <h6>Tax</h6>
            </div>
            <div class="tax-price">
                <span><strong>&dollar;{{ post.tax }}</strong></span>
            </div>
            <!-- Delivery Cost  -->
            <div class="total">
                <h6>Total</h6>
            </div>
            <div class="cost">
                <strong>&dollar;{{ post.get_total_price }}</strong>
            </div>
        </div>
        <div class="grid-item go-back">
            <a href="{% url 'checkout' %}"><button type="button" id="go-back">Edit Information</button></a>
        </div>
        <div class="grid-item place-order">
            {% csrf_token %}
            <a href="{% url 'receipt_view' %}" onclick="empty_cart()"><button type="button" id="place-order">Place Order</button></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block javascript %}
<script>
function empty_cart() {
    let csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajax({
        url: "/cart/ajax/empty_cart/",
        method: "POST",
        data: {
            csrfmiddlewaretoken: csrftoken,
        }
    });
}

</script>
{% endblock %}
