{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'shopping_cart_app/shopping_cart_detail.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="grid-item title">
        <strong>My Cart</strong>
    </div>
        {% for item in items %}
        <div class="grid-item cart-item item-{{ forloop.counter0 }}">
            <strong>{{ item.price }}</strong>
            <h3>{{ item.name }}</h3>
            <h3>{{ item.developer }}</h3>
            <span class="delete-cross">&#x2715;</span>
            <!-- <button class="btn-delete" type="button">Delete</button> -->
        </div>
        {% endfor %}
    <div class="grid-item subtotal">
        <strong>Subtotal:</strong>
        <!-- price of cart-->
    </div>
</div>
<div class="buttons">
    <button type="button" id="continue-shopping">Continue Shopping</button>
    <button type="button" id="place-order">Checkout Now</button>
</div>
<script src="{% static 'shopping_cart_app/js/shopping_cart_detail.js' %}"></script>
{% endblock %}