/*.container-items{*/
/*    display: grid;*/
/*    grid*/


/*}*/

/*.grid-item3{*/
/*    border: solid Blue;*/
/*    margin: 10px;*/
/*}*/

/*.grid-item1{*/
/*    border: solid black;*/
/*    width: 50%;*/
/*    height: 70%;*/
/*    margin: 10px;*/

/*}*/

/*.grid-item2{*/
/*    border: solid black;*/
/*    width: 20%;*/
/*    height: 20%;*/
/*    margin: 10px;*/
/*}*/

.container{
    border: solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
    color: white;

}

.billing-info{
    padding: 3px;
    margin: 3px;
    color: white;
}

.delivery-info{
    padding: 3px;
    margin: 3px;
    color: white;
}

.card-info{
    padding: 3px;
    margin: 3px;
    color: white;
}

.everything{
    background: url("/static/media/games-pile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}