.container{
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: darkblue;
    color: white;

}

.billing-info{
    padding: 3px;
    margin: 3px;
    color: white;
    width: 40%;
}

.delivery-info{
    padding: 3px;
    margin: 3px;
    color: white;
    width: 40%
}

.card-info{
    padding: 3px;
    color: white;
    width: 60%;
    margin: 0 auto;
}

.everything{
    background: url("/static/media/games-pile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row{
    color: white;
}

input[type='text']{
    color: white;
}

input[type='number']{
    color: white;
}

.proceed-button{
    position: absolute;
     bottom: 0;
     right: 0;
}