.product_list_header {
    display: flex;
    align-content: center;
    align-items: end;
    justify-content: space-between;
    margin: 1.5rem 0rem 1rem 0rem;
}

#all_products {
    margin: 0px;
}


.flex_center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#search_form {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#sort_div button {
    margin-left: 1rem;
}

#search_bar {
    margin-right: 1rem;
}

#filters {
    display: flex;
    flex-flow: column nowrap;
    width: 12%;
    margin: 7.5px 20px 0px 10px;
    height: 50%;
    overflow: scroll;
}

#filter_btn {
    margin-top: 1rem;
}

#filters form {
    margin-left: 0.5rem;
}

#filters form p {
    margin: 5px 0px;
}

.card-content h5 {
    margin-top: 0px;
}


.card_img {
    width: 220px;
    height: 200px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.filler {
    width: 24px;
    height: 29.5px;
}

.form-inline {
    display: flex;
    flex-flow: row nowrap;
    margin: 0rem 3rem;
}

#all_products {
    margin-left: 3rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination h6 {
    margin: 0px 10px;
    padding-top: 2.5px;
}

#lower_pagination {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1400px) {
    .card_img {
        width: 120px;
        height: 100px;
    }
}
