*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    height: 100vh;
    border: 10px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.grid-item{
    background-color: white;
    border: 2px solid white;
    padding: 20px;
}

.title{
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
}
.images{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
}

.other{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
}