
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    height: 100vh;
    border: 10px;
    grid-template-columns: 200px 150px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.grid-item{
    background-color: white;
    border: 2px solid white;
    padding: 20px;
}

.product-list-description{
    grid-column-start: 1;
    grid-column-end: 3;

}

.sort-by{
    grid-column-start: 3;
    grid-column-end: 3;
}

.search-history{
    grid-column: 5;
}

.nav {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-end: 2;
}

.products{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 7;
}


#desc{
    text-align: center;
}

.pages{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 7;
}


.card-title{
    font-size: 20px;
}