<footer class="page-footer indigo darken-2">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <a href="#">
                    <h5 class="white-text">Locations</h5>
                </a>
                <ul>
                    <li>Laugavegur 1, 101 Reykjavík</li>
                    <li>Dúfnahólar 10, 101 Reykjavík</li>
                    <li>Vatnsendi 1, 203 Reykjavík</li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Opening hours</h5>
                <ul>
                    <li>Mon-Fri: 9:00-18:00</li>
                    <li>Sat: &emsp;&emsp;11:00-17:00</li>
                    <li>Sun: &emsp;&ensp;&nbsp;Closed</li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li><a class="white-text" href="mailto:store@captainconsole.com">store@captainconsole.com</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5>Social Media</h5>
                <ul>
                    <li><a class="white-text" href="#">Facebook</a></li>
                    <li><a class="white-text" href="#">Instagram</a></li>
                    <li><a class="white-text" href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
