{% load static %}
<header>
<nav class="nav-extended">
        <div class="nav-wrapper indigo lighten-1">
            <a href="/store" class="brand-logo">
                <img id="logo" src="{% static 'media/console-logo.png' %}" />
                <h1>Captain console</h1>
            </a>
            <ul id="nav-mobile" class="right">
                {% if user.is_authenticated %}
                <li id="welcome_msg">Welcome, {{ user.first_name }}</li>
                {% if user.profileImage %}
                    <li><a class="dropdown-trigger" data-target="dropdown-menu" href="#"><img class="circle" src="/{{ user.profileImage }}" alt="My profile" /></a></li>
                {% else %}
                    <li><a class="dropdown-trigger" data-target="dropdown-menu" href="#"><img class="circle" src="{% static 'media/profile.png' %}" alt="My profile" /></a></li>
                {% endif %}

                {% else %}

                <li class="text-li"><a href="/profile/login">Log In</a></li>
                <li class="text-li"><a href="/profile/sign_up" class="header">Sign Up</a></li>

                {% endif %}
                <!--TODO: shopping cart dropdown, change to icon?-->
                <li><img id="shopping_cart" src="{% static 'media/shopping-cart.png' %}" /></li>
            </ul>
        <ul id="dropdown-menu" class="dropdown-content">
            <li><a href="/profile/my_profile">My account</a></li>
            <li><a href="/profile/logout">Log Out</a></li>
        </ul>
        </div>
        <div class="nav-content indigo">
            <ul id="lower-nav-ul">
                <!-- TODO: IMPLEMENT DROPDOWN-->
                <li><a href="/store/products">All Products</a></li>
                <li><a href="/store/products/?manufacturer=Sega">Sega</a></li>
                <li><a href="/store/products/?platform=Playstation">Playstation</a></li>
                <li><a href="/store/products/?manufacturer=Atari">Atari</a></li>
                <li><a href="/store/products/?manufacturer=Nintendo">Nintendo</a></li>
                <li><a href="/store/products/?platform=Xbox">Xbox</a></li>
                <li><a href="/store/products/?platform=Commodore">Commodore</a></li>
            </ul>
        </div>
    </nav>
</header>
