
main {
    background: url("/static/media/videogames.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    display: flex;
    justify-content: center;
}

.box{
    width: 410px;
    height: 500px;
    border: 5px solid black;
    border-radius: 5px;
}

.title{
    font-family: cursive;
}

.inputs{
    margin: 0px 25px 0px 25px;
}

#login_btn {
    margin: 5px 0px 20px 0px;
    font-size: 20px;
}

#logo_div {
    margin: 2rem 0rem 0rem 2rem;
    padding: 15px;
    display: flex;
    border-radius: 5px;
}

#logo_text_div {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

#logo_text_div h2 {
    margin: 0px;
}

#logo {
    width: 100px;
    height: 90px;
}
#name{
    font-weight: bolder;
}