
.content {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("/static/media/games-pile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box{
    width: 410px;
    height: 560px;
    background: midnightblue;
    color: #fffccf;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 5px solid black;
}
.hello{
    color: white;
}

.title{
    text-align: center;
    font-family: cursive;
    color: white;
}

.inputs{
    padding: 25px;
}

.login_button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;

}
.button-div{
    text-align: center;
}

.noaccount{
    text-align: center;
    color: white;
}

.button-div2{
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: underline;
    color: white;
}
