* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Roboto;
}

.container {

}



.content {

    margin: 2em;
    padding: 1em;
    border: 1px solid black;
    display: grid;
    grid-template:
        "del-details del-method" 0.8fr
        "title title" 0.01fr
        "pay-type pay-type" 0.2fr
        "pay-detail pay-detail" 1fr
        "cart-items cart-subtotal" 1fr
        "buttons buttons" 0.2fr
        / 1fr 1fr;
}

.grid-item {
    margin: 0.5em;
}

.delivery-details {
    grid-area: del-details
}

.delivery-method {
    grid-area: del-method;
}

.payment-type {
    margin: 0;
    padding: 0.1em;
    grid-area: pay-type;
    border: 1px solid black;
}

.items {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    grid-area: cart-items
}

.payment-detail {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    grid-area: pay-detail;
    border: 1px solid black;
}

.subtotal {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    grid-area: cart-subtotal;
}

.title {
    padding: 0;
    margin: 0;
    grid-area: title;
}

.buttons {
    grid-area: buttons;
    margin-left: 0;
    margin-right: 0;
}

button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  font-size: 0.7em;
  opacity: 0.7;
  margin-top: 0.2em;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
    opacity: 1;
}

#go-back {
    background-color: gray;
}

#place-order {
    margin: 0;
    background-color: #40B271;
    float: right;
}

#edit-info {
    background-color: #3370CB;
}


