{% extends "base.html" %}
{% load static %}

  {% block head %}
      <link rel="stylesheet" type="text/css" href="{{% static "profile_app/signup.css" %}}">
  {% endblock %}

<div class="signup_body">
    {% block content %}
        <h1 id="signup_header">Sign Up</h1>
        <form class="sign_up_form" action="/profile/create/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="signup_button" type="submit">Sign Up</button>
        </form>
    {% endblock %}
</div>
