{% extends 'base.html' %}
{% load static %}

{% block title %}
Captain console - Log in
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_app/log_in.css' %}"/>
{% endblock %}

{% block content %}

<div id="logo_div" class="z-depth-5 indigo lighten-2">
    <img id="logo" src="{% static 'media/console-logo.png' %}" />
    <div id="logo_text_div">
        <h2>Captain</h2>
        <h2>Console</h2>
    </div>
</div>

<div class="login-form">
    <div class="box indigo darken-4 white-text z-depth-5">
        <h1 class="title center-align">Log in</h1>
        <div class="inputs">
            <form method="post">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="text" class="white-text" name="email">
                <label for="password">Password:</label>
                <input type="password" class="white-text" name="password">
                <div class="center-align">
                    <button id="login_btn" class="btn-large teal darken-3" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="no_account_div center-align">
            <h6 class="center-align">Don't have an account?</h6>
            <a href="/profile/sign_up/" class="white-text btn yellow darken-3">Sign Up</a>
        </div>
    </div>
</div>

{% endblock content%}
